#!/bin/bash
# Begin LSF directives
#BSUB -P ${PROJID}
#BSUB -J test
#BSUB -o tst.o%J
#BSUB -W 00:30
#BSUB -nnodes 3

export PATH=$PATH:${DSPACES_ROOT}/bin:../src

rm -f conf.*

jsrun -n 1 -a 1 -r 1 -c 1 dataspaces_server -s 1 &> server.log &

while [ ! -f conf.0 ]; do
    sleep 1s
done

sleep 5

jsrun -n 2 -a 1 -r 2 -c 1 put 3 10 &> put.log &
jsrun -n 2 -a 1 -r 2 -c 1 get 3 10 &> get.log &

wait
